@model IDictionary<AskAndTell.Models.Answer, AskAndTell.Models.Comment>
@{
    ViewBag.Title = "Index";
}


<h2>Add Comment</h2>
@if (Model.Keys.ElementAtOrDefault(0) != null)
{
    <h3>@Model.Keys.ElementAtOrDefault(0).Body </h3>     
    if (Model.Keys.ElementAtOrDefault(0).IsAccepted)
    {
        <p>ACCEPTED ANSWER BY ASKER</p>
    }
    else
    {
        <a href="../AcceptAnswer/@Model.Keys.ElementAtOrDefault(0).Id">Click here to ACCEPT this answer</a>
    }
    <p>
        Votes: @Model.Keys.ElementAtOrDefault(0).Votes <a href="../UpVote/@Model.Keys.ElementAtOrDefault(0).Id"> UpVote </a> ||
        <a href="../DownVote/@Model.Keys.ElementAtOrDefault(0).Id">DownVote </a>
    </p>
    <h5>By @ViewBag.User.UserName with @ViewBag.User.Reputation Repuation points.</h5>

    <h2>All Comments</h2>
    foreach (var comment in Model.Keys.ElementAtOrDefault(0).Comments)
    {
        <p>@comment.Body </p>
    }

    <h3>Add Comment</h3>
    using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <hr />
            @*<div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.ElementAtOrDefault(0).Body)
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Values.ElementAtOrDefault(0).Body)
                </div>
            </div>

            <div class="form-group" hidden>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Keys.ElementAtOrDefault(0).Id)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}


